@model Spitali.Models.HospitalName

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HospitalName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HospitalName1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HospitalName1)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.HospitalNameId">Edit</a> |
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
